<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
        <style>
            .hm {
                margin: 12px;
                text-align: center;
            }

            .face {
                width: 512px;
                height: 512px;
                border-radius: 256px;
            }

            @media screen and (max-width: 1024px) {
                .face {
                    width: 128px;
                    height: 128px;
                    border-radius: 256px;
                }
            }

            @media (hover:hover) {
                .face:hover {
                    box-shadow: 4px 4px 4px black;
                }
            }
        </style>
    </head>
    <body>
        <script>
            var localSessionId = Math.floor(Math.random() * 99999999);

            function report(x) {
                $.post("/submit", {
                    "photo": x,
                    "id": localSessionId,
                    "age": $("#age").val(),
                    "men": $("#men").is(':checked'),
                    "women": $("#women").is(':checked')
                }, function(data) {
                    if (data["error"] != '') {
                        alert(data["error"]);
                    }
                    $("#leftPic").attr('src', data["src1"]);
                    $("#leftPic").attr('onclick',"report('/static/" + data["src1"] + "')");
                    $("#leftPic").attr('name', data["src1"]);
                    $("#rightPic").attr('src', data["src2"]);
                    $("#rightPic").attr('onclick',"report('/static/" + data["src2"] + "')");
                    $("#rightPic").attr('name', data["src2"]);
                });
            }

            $(document).ready(function() {

            })
        </script>

        <div style="width: 100%; height: 100%; display: flex; flex-direction: column;">
            <div class="hm" style="flex: 1; font-size: xx-large; font-weight: bolder;">
                Which of the two faces do you think is more attractive?
            </div>
            <div class="hm">
                <p><span style="font-weight: bold;">I am attracted to </span>(select all that apply, they're checkboxes):</p>
                <input type="checkbox" id="men" name="men" value="men">
                <label for="men">Men</label><br>
                <input type="checkbox" id="women" name="women" value="women">
                <label for="women">Women</label><br>
                <p><span style="font-weight: bold;">My age is: </span>
                    <input type="number" id="age"><br>
                </p>
            </div>
            <div class="hm" style="display: flex;">
                <div style="flex: 1;"></div>
                <div class="hm"><img id="leftPic" onclick="report('{{url_for('static', filename=leftPic)}}')" name="{{leftPic}}" class="face" src="{{url_for('static', filename=leftPic)}}"/> </div>
                <div class="hm"><img id="rightPic" onclick="report('{{url_for('static', filename=rightPic)}}')" name="{{rightPic}}" class="face" src="{{url_for('static', filename=rightPic)}}"/></div>
                <div style="flex: 1;"></div>
            </div>
            <div class="hm" style="flex: 1; font-size: large;">
                <p>Don't worry, you aren't hurting anyone's feelings! These faces were automatically generated by AI. You can learn more about the AI at <a href="https://this-person-does-not-exist.com/en">https://this-person-does-not-exist.com/en</a>. This is why they make look a little strange.</p>
                <p>This website exists as part of a study I'm doing for fun.</p>
            </div>
        </div>
    </body>
</html>